* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(60deg, #6e22a5 0%, rgb(18, 155, 200) 100%);
}
 
/* #app {
	overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr;
	
    height: 100%;
    width: 100%;
	grid-gap: 8px;
} */

/* .app {
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-gap: 8px;
	height: 100%;
}

header {
    display: grid;
    grid-template-columns: 320px 1fr;
}

#NavBar {
    display: grid;
	grid-template-columns: 1fr;
    justify-content: space-between;
}

.menu {
    justify-self: right;
    justify-content: space-between;
    width: 90%
}
.RoutineCard, .ActivityCard, #CreateRoutineForm, #CreateActivityForm, .CreateRoutine{
    max-width: 80%;
    margin-left: 10%;
}

.loginForm {
    max-width: 300px;
}

input { 
    margin-top: '3px';
    padding: '3px' 
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh; 
  /* // vh = This unit is based on the height of the viewport. A value of 1vh is equal to 1% of the viewport height */
  /* background-color: #ececec;
} */

/* .logo   {
    padding-left: 2em;
}

.logo-text{
    font-size: 2em;
}

.menubar    {
    width: 45%;
    margin-left: 8.5em;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list-items a   { 
    color: black;
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
}

.list-items a:hover{
    color:black
} */

/* .cart   {
    padding-right: 2em;
    position: relative;
}

.cart .number-of-items  {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 18px;
    top:-7px;
    background: orangered;
    height: 20px;
    width: 20px;
    border-radius: 7px;
}

.number-of-items .noi{  
    font-size: 0.7em;
} */

/* .fa-shopping-cart  {
    font-size: 1.5em;
    cursor: pointer;
/* 
 .burger {
    height: 28px;
    width: 32px;
    display: none; 
}

.layer1, .layer2, .layer3   {
    background: black;
    height: 4px;
    margin-top: 4px;
    width: 100%;
    border-radius: 10px;
} 

/* .section1   {
    
    height: calc(100vh - 10 vh);
    width: 100%;
    background: url ('images/back1.png') center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    Update the backgound picture above 
}  */


/* .section1 .banner   {
    height: 170px;
    width: 600px;
    background: gray;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 8;
} */

/* .banner h1{
    font-size: 2 em;
}

.banner a{
    display: flex;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: white;
    background: #02eeee;
    transition: all 0.3s;
       
}

.banner a:hover { 
    background: #d4761e;
} */


/* .menu-sidebar   {
    display: flex;
} */

/* .cart-sidebar   {
    background: #ececec;
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100vh;
    z-index: 10;
    transition: all 0.3s linear;
    transform: translateX(100%);
    overflow: scroll; 
   }

   .cart-sidebar .cart  {
        padding: 0;
   }

   .cart .close-cart    {
       font-size: 1.3em;
       padding: 1em;
       cursor: pointer;
   } */ 

   /* .fa-times    {
       margin-top: 0.5em;
   }

   cart h2  {
        text-align: center;
        width: 100%;
        margin-bottom: 1em;
        font-size: 1.1em;
        font-family: Verdana;

   }

   .cart-product .product-image img {
       width: 130px;
       height: 90px
   }

   .cart-product-content    {
       display: flex;
       flex-direction: column;
       justify-content:space-around;
       align-items: center;
       margin-left: 1em;
       height: 80px;
   } */

   /* .plus-minus  {
       display: flex;
       transform: rotate(90eg);
       color: orangered;
       font-size: 1.5em;
       cursor: pointer;
   }

   .total-sum   {
       text-align: center;
       margin: 1em 0 0.5em 0;
   }

   .clear-cart  {
       text-align: center;
   }

   .clear-cart .btn {
       background-color: orangered;
       color: white;
       border: 1px solid white;
       padding: 0.5em 1.7em;
       cursor: pointer;
       transition: 0.3s linear;
   }

   .clear-cart .btn:hover   {
       border: 1px solid orangered;
       background: transparent;
       color: black; 
   } */

    /* .overlay {
       height: 100vh;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 9;
       width: 100%;
   } 

   .none    {
       display: none;
   }  */

   /* @media screen and (max-width:768px)  {
       .logo    {
           padding-left: 0;
       }
       .cart    {
           padding-right: 2em;
       }
       .menubar {
           display: none;
       }
       .burger  {
           margin-left: 2em;
           display: block;
       }

       .section1 .banner h1 {
           font-size: 1.5em;
       }

       .banner  a   {
           font-size: 0.6em;
           padding: 1em 2em;
       }
       .section2 .title h1 {
           font-size: 1.5em;
       }

       .menu-sidebar    {
           display: block;
           position: fixed;
           left: 0;
           top: 0;
           width: 100%;
           height: 100vh;
           z-index: 11;
           background: #ececec;
           overflow: hidden;
           transform: translate(-100%);
           transition: 0.3s linear;
       }
       .menu-menubar    {
           display: flex;
           height: 80%;
           justify-content: center;
       }
       .menu-list   {
           height: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-around;
       }

       .menu-sidebar .close-menu    {
           position: absolute;
           right: 30px;
           font-size: 1.4em;

       }
       .menu-list-items a   {
           color: orangered;

       }

       .menu-list-items a:hover {
           color: orangered;
       }

       @media screen and (max-width: 480px) {
           *{
                font-size: 16px;
           }
           .section1 .banner    {
               width: 280px;
               height: 100px;
           }
           .section1 .banner h1     {
               font-size: 1.2em;
           }
           .burger  {
               margin-left: 1em;
               display: block;
               width: 0;
           }

           .product {
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
           }
       }



    }
    */
